body {
  text-align: center;
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
}

#items {
  color: white;
  width: 20%;
}

#gamelog {
  color: white;
  width: 20%;
}
