body {
  text-align: center;
  background-color: black;
}

canvas {
  display : block;
  margin : auto;
}

#items {
  background-color: white;
  width: 20%;
  height: 60px;
  margin: 10px auto;
}

#gamelog {
  background-color: white;
  width: 33%;
  height: 100px;
  margin: 10px auto;
  color: black;
}

.swal {
  background-color: rgba(255, 0, 0, 0.45);
}
